<nav style="background:#112b50; padding:10px; display:flex; justify-content:space-between; align-items:center; color:white;">
    <div style="font-size:20px;">📘 نظام المتابعة</div>
    <div>
        <a href="{% url 'home' %}" style="color:white; text-decoration:none; margin-left:15px;">الرئيسية</a>
        <a href="{% url 'student_dashboard' %}" style="color:white; text-decoration:none; margin-left:15px;">لوحة الطالب</a>
        <a href="{% url 'logout' %}" style="color:white; text-decoration:none; margin-left:15px;">تسجيل الخروج</a>
    </div>
</nav>
